// Define variables for your color scheme

// For example - Bootstrap colors:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our specific colors:
$my-ivory: #FEFBF7;
$my-sand: #FDF4E7;
$my-beige: #FFEBD4;
$my-yellow: #ffdf05;
$my-red: #ec3f95;
$my-pink: #ecb4da;
$my-warm-pink: #eda9a9;
$my-orange: #ed8642;
$my-violet: rgba(255, 179, 203, 0.5);
$my-dark-violet: #4D363D;

$my-light-green: #7ABA78;
$my-main-green: #116530;
$my-bright-green: #1EDD88;
$my-dark-green: #114232;
$my-dark-gray: #363636;
