// Our specific front variables
$my-border-radius: 1rem;
$my-border-radius-pill: 3rem;

$my-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
$my-text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
$my-linear-gradient: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
