<%# <div class="banner" style="background-image: url(<%= asset_path('IMG_8734.jpg') %>
<div class="banner">
  <div class="overlay"></div>
  <div class="container">
    <h1>La Crème Nails</h1>
    <p>Des ongles qui parlent d’eux-mêmes</p>
    <%# <a class="btn btn-flat" href="#">Add to cart</a> %>
  </div>
</div>
