<div id="catalog" class="catalog-container">
  <h1>Catalogue</h1>
  <p>Chez La Creme Nails, nous croyons que chaque ongle mérite d’être une œuvre d’art.</p>
  <p>Nous offrons une gamme complète de services de nail art pour sublimer vos ongles et exprimer votre style unique.</p>
  <div class="media-scroller snaps-inline">
      <% @products.each_with_index do |product_slice, index| %>
        <div class="media-element">
          <%= image_tag product_slice.images.first if product_slice.images.attached? %>
          <div class="media-info">
            <h2 class="media-title"><%= product_slice.name %></h2>
            <h3 class="media-price"><%= number_to_currency(product_slice.price, unit: "€") %></h3>
          </div>
        </div>
      <% end %>
    </div>
</div>
