<div id="catalog" class="full-width-container catalog-container">
  <h1 class="text-center">Catalogue</h1>
  <p class="text-center">Chez La Creme Nails, nous croyons que chaque ongle mérite d’être une œuvre d’art.</p>
  <p class="text-center"> Nous offrons une gamme complète de services de nail art pour sublimer vos ongles
    et exprimer votre style unique.</p>
  <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
    <!-- Products -->
    <!-- Display products in a carousel -->
    <!-- Display 3 products per slide when screen size is greter than 575px-->
    <!-- Display 1 product per slide when screen size is less than 575px-->
    <!-- Display first image from each product using Active Storage -->

    <div class="carousel-inner">
      <% @products.each_with_index do |product, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="col-md-4">
            <div class="card">
              <!-- Display first image from each product using Active Storage -->
              <%= image_tag(product.images.first, alt: product.name, class: "card-img-top") if product.images.attached? %>
              <div class="card-body">
                <h2><%= product.name %></h2>
                <h3><%= number_to_currency(product.price, unit: "€") %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Carousel control buttons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="" aria-hidden="true">
        <i class="fa-solid fa-chevron-left"></i>
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="" aria-hidden="true">
        <i class="fa-solid fa-chevron-right"></i>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
