<div class="instructions-container">
  <div id="instructions" class="mode-emploi-container">
    <div class="text-center title">
      <%= image_tag 'stars.png' %>
      <h1 class="text-center">MODE D'EMPLOI</h1>
    </div>
    <div class="content">
      <p class="text-center">Lavez-vous les mains et séchez-les correctement.</p>
      <p class="text-center">Repoussez les cuticules à l’aide d’un bâtonnet.</p>
      <p class="text-center">Limez le bord libre de l’ongle naturel au ras, puis limez doucement toute la surface de l’ongle pour enlever son éclat naturel.</p>
      <p class="text-center">Nettoyez tous les ongles avec de l’alcool en utilisant des lingettes.</p>
      <p class="text-center">Appliquez la colle au centre de l’ongle naturel et à l’arrière de l’ongle artificiel.</p>
      <p class="text-center">Collez les faux ongles en commençant par la zone des cuticules et appuyez pendant environ 20 secondes.</p>
    </div>
  </div>

  <div class="mode-emploi-container">
    <div class="text-center title">
      <h2 class="text-center">KIT DE POSE</h2>
      <%= image_tag 'stars.png' %>
    </div>
    <div class="content kit">
      <p class="text-center">Colle à ongles</p>
      <p class="text-center">Gel pads</p>
      <p class="text-center">Lime</p>
      <p class="text-center">Bâtonnet</p>
    </div>
  </div>

  <div class="mode-emploi-container">
    <div class="text-center title">
      <%= image_tag 'stars.png' %>
      <h2 class="text-center">Comment puis-je les décoller ?</h2>
    </div>
    <div class="content">
      <p class="text-center">Plongez vos mains dans un récipient d’eau chaude contenant une cuillère à soupe d’huile (olive, coco) et laissez-les tremper entre 15 et 20 minutes.</p>
      <p class="text-center">Utilisez le bâtonnet fourni dans le kit pour décoller doucement l’ongle artificiel de votre ongle naturel. L’idée n’est pas de l’arracher.</p>
      <p class="text-center">Si nécessaire, remettez vos mains dans l’eau et répétez la procédure.</p>
    </div>
  </div>

  <div class="mode-emploi-container">
    <div class="text-center title">
      <h2 class="text-center">Attention !</h2>
      <%= image_tag 'stars.png' %>
    </div>
    <div class="content">
      <p class="text-center">Après avoir eu les ongles collés pendant longtemps, des détachements peuvent commencer à se produire, permettant à l’humidité de pénétrer. C’est pourquoi je vous recommande de les retirer environ 15 jours après les avoir collés afin de prévenir l’apparition de champignons. Ensuite, vous pouvez les recoller normalement.</p>
      <%# <p class="text-center">C'est pourquoi je vous recommande de les retirer environ 15 jours après les avoir collés pour éviter les champignons.</p> %>
      <%# <p class="text-center">Ensuite, vous pouvez les recoller normalement.</p> %>
    </div>
  </div>
</div>
