<data class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(IMG_8734.jpg);">
    <div class="container">
      <h1>La Crème Nails</h1>
      <p>First class nail artist</p>
      <a class="btn btn-flat" href="#">Add to cart</a>
    </div>
  </div>

    <!-- code a "How it works" section -->
    <div class="container">
      <h2 class="text-center">Press On</h2>
      <div class="cards">
        <div class="card">
          <img src="images/press_1.jpg" alt="">
          <h3>85€</h3>
          <p>Leopard</p>
        </div>
        <div class="card">
          <img src="images/press_2.jpg" alt="">
          <h3>85€</h3>
          <p>Avengers</p>
        </div>
        <div class="card">
          <img src="images/press_3.jpg" alt="">
          <h3>85€</h3>
          <p>Fairy Tale</p>
        </div>
      </div>
    </div>
    <!-- code a footer -->
    <div class="footer">
      <div class="footer-links">
        <a href="#">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
      </div>
    </div>

</data>
