<div class="full-width-container">
  <%= render "shared/navbar" %> <!-- Navbar will be fixed on top -->
  <%= render "shared/banner" %>
  <%= render "shared/catalog" %>
  <%#= render "shared/contact" %>
  <%= render "shared/footer" %>
</div>
