.card {
  width: 400px;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
}

.card img {
  transition: opacity .3s ease-in-out;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px 50px;
}

.card img:hover{
  opacity: 0.5;
}

.card h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
}
