.card {
  width: 400px;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
}

.card img {
  transition: opacity .3s ease-in-out;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

.card img:hover{
  opacity: 0.5;
}

.card h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
}


/* // Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .card img {
    border-radius: $border-radius-sm;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    grid-template-columns: 1fr;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
