.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

@media(max-width: 900px) {
  .container {
    width: 500px;
    height: 100%;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
    height: 100%;
  }
}

.full-width-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.session-container {
  height: 70vh;
  // width: 80vw;
  justify-content: center;
  align-items: center;
  padding: $container-padding;
}

.session-container .btn {
  color: black;
  background-color: #1EDD88;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  // font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.session-container .btn:hover {
  opacity: 1;
}

.catalog-container {
  // justify-content: space-around;
  // align-items: center;
  padding: $container-padding;
}

.catalog-container h1, .catalog-container h2, .catalog-container h3, .catalog-container p {
  text-align: center;
}


.catalog-container p {
  font-size: $font-size-base * 1.2;
}

.home-container {
  background-image: url(asset_path('lacreme_background.jpg'));
  background-size: cover;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: $container-padding;
  justify-content: space-around;
  gap: 20px;
}

.instructions-container h1, .instructions-container h2 {
  text-align: center;
  font-weight: 900;
  align-self: center;
}

.instructions-container .img-left {
  align-self: flex-start;
}

.instructions-container .img-right {
  align-self: flex-end;
}


.instructions-container p {
  text-align: center;
  font-size: $font-size-base * 1.2;
}

.instructions-container .mode-emploi-container{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.instructions-container .instructions-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

// .instructions-container .title {
//   h1, h2, img {
//     // display: inline-block;
//   }
// }

.instructions-container .instructions-content {
  // background-color: #f1e7c3;
  background-color: $my-beige;
  border: solid 2px black;
  border-radius: $my-border-radius;
  width: fit-content;
  padding: 40px;
}
