.footer {
  height: 35vh;
  text-align: center;
  padding: 40px;
  background-color: $my-dark-violet;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}
.footer-links a {
  font-size: $font-size-base * 2;
  color: $my-bright-green;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-links a:hover {
  opacity: .7;
}

.footer p {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.footer .footer-content{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.footer .footer-logo img {
  width: 6vh;
  border-radius: $my-border-radius;
}

.footer-links p {
  color: white;
  font-size: 1em;
  margin-top: 20px;
}
