.footer {
  text-align: center;
  padding: 60px;
  background-color: #8b4d98;
}
.footer-links {
  align-items: center;
  text-align: center;
}
.footer-links a {
  font-size: 30px;
  color: #1EDD88;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-links a:hover {
  opacity: .7;
}
