/* Assuming you have a CSS file linked to your HTML */


.navbar-lewagon {
  width: calc(100% - 80px); /* Ensure it spans the full width */
  position: fixed; /* If you want it to be fixed at the top */
  top: 0;
  left: 40px;
  right: 40px;
  z-index: 1000; /* Ensure it stays on top of other elements */
  background-color: rgba(255, 179, 203, 0.5);
  padding: 10px 10px; /* Add some padding if needed */
  border-radius: 50px 50px; /* Remove border-radius if any */
  margin-top: 40px;
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  border-radius: 50px 50px;
  width: 100px;
}

.navbar .nav-link-joaquin {
  color: white;
  font-size: 20px;
}
