.navbar {
  width: calc(100% - 80px); /* Ensure it spans the full width */
  position: fixed; /* If you want it to be fixed at the top */
  top: 0;
  left: 40px;
  right: 40px;
  z-index: 1000; /* Ensure it stays on top of other elements */
  background-color: rgba(255, 179, 203, 0.5);
  padding: 10px 10px; /* Add some padding if needed */
  border-radius: 50px 50px; /* Remove border-radius if any */
  margin-top: 40px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 100px;
  border-radius: 50px 50px;
}

/* Assuming you have a CSS file linked to your HTML */

.navbar .nav-link-joaquin {
  color: white;
  font-size: 20px;
}
