<div class="container">
  <h1>Appointments</h1>
  <%= simple_form_for @appointment do |f|%>
    <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
